project:
  name: ai-studio-whatsapp-agent
instance:
  name: dev
  runtime: nodejs16
  region:
  application-id:
  environment:
    - name: ENCRYPTED_SECRET
      value: ""
  entrypoint:
    - node
    - server.js
  scaling:
    min-scale: 1
    max-scale: 5
debug:
  name: debug
  entrypoint:
    - nodemon
    - --ignore
    - db.json
    - --inspect
    - server.js
